{
	local_certs
}

localhost {
	handle_path /api/* {
		reverse_proxy blurple_canvas_server:8000
	}

	handle_path /socket.io* {
		reverse_proxy blurple_canvas_server:8000
	}

	handle /* {
		reverse_proxy blurple_canvas_server:3000
	}
}
