@layer normalize {
  * {
    box-sizing: border-box;
    font-family: inherit;
    margin: 0;
    outline-offset: max(0.0625rem, 1px);
    padding: 0;
    text-decoration-thickness: from-font;
  }

  html {
    font-kerning: normal;
    font-optical-sizing: auto;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    hanging-punctuation: first allow-end last;
    hyphenate-character: "â€"; /* Unambiguous hyphen U+2010 */
    letter-spacing: 0;
    margin: 0;
    orphans: 2;
    overflow-wrap: break-word;
    padding: 0;
    tab-size: 2;
    text-rendering: geometricPrecision;
    text-underline-position: from-font;
    text-wrap: pretty;
  }

  [hidden] {
    display: none;
  }

  body {
    min-height: 100svh;
  }

  p {
    line-height: 1.55;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.35;
  }

  b,
  strong {
    font-weight: bolder;
  }

  em,
  i,
  var {
    font-style: italic;
  }

  em > em,
  em > i,
  i > em,
  i > i {
    font-style: normal;
  }

  code,
  kbd,
  pre,
  samp {
    font-family: monospace;
  }

  abbr {
    text-decoration: none;
  }

  hr {
    box-sizing: content-box;
    height: 0;
  }

  audio,
  canvas,
  figure,
  embed,
  iframe,
  img,
  object,
  picture,
  svg,
  video {
    display: block;
    max-width: 100%;
  }

  picture,
  img,
  svg,
  video,
  canvas {
    border-style: none;
    height: auto;
  }

  audio {
    width: 100%;
  }

  fieldset {
    border: 0;
    min-width: 0;
  }

  button {
    touch-action: manipulation;
  }
}

@layer fonts {
  @font-face {
    font-family: "Mona Sans";
    src:
      url("../fonts/mona-sans.woff2") format("woff2 supports variations"),
      url("../fonts/mona-sans.woff2") format("woff2-variations");
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }
  @font-face {
    font-family: "Monaspace Neon";
    src:
      url("../fonts/monaspace-neon.woff2") format("woff2 supports variations"),
      url("../fonts/monaspace-neon.woff2") format("woff2-variations");
    font-weight: 200 800;
    font-stretch: 100% 125%;
  }
}

@layer core {
  :root {
    --discord-blurple: oklch(57.74% 0.209 273.85);
    --discord-green: oklch(85.48% 0.197 150.16);
    --discord-yellow: oklch(92.18% 0.157 99.87);
    --discord-fuchsia: oklch(65.34% 0.217 351.92);
    --discord-red: oklch(63.18% 0.207 24.57);
    --discord-white: oklch(100% 0 0);
    --discord-black: oklch(0% 0 0);
    --discord-legacy-blurple: oklch(64.74% 0.124 270.62);
    --discord-legacy-full-white: oklch(100% 0 0);
    --discord-legacy-greyple: oklch(72.83% 0.025 236.13);
    --discord-legacy-dark-but-not-black: oklch(30.38% 0.008 255.56);
    --discord-legacy-not-quite-black: oklch(26.99% 0.008 240.16);
    --discord-legacy-actually-black: oklch(0% 0 0);

    --font-body:
      "Mona Sans", system-ui, -apple-system, BlinkMacSystemFont, "Inter",
      "Segoe UI", Roboto, Ubuntu, sans-serif;
    --font-monospace: "Monaspace Neon", ui-monospace, Consolas, monospace;
    --border-color: oklch(from var(--discord-white) l c h / 15%);
    --card-border: var(--border-color) solid max(0.125rem, 1px);
    --card-border-radius: 1.5rem;
    --focus-outline: var(--discord-blurple) solid max(0.125rem, 1px);
    --transition-duration-fast: 100ms;
    --transition-duration-medium: 150ms;
    --transition-duration-slow: 200ms;
    --text-glow: 0 0 1rem var(--discord-blurple);

    background-color: var(--discord-legacy-dark-but-not-black);
    color: var(--discord-white);
    color-scheme: only dark;
    font-family: var(--font-body);

    code,
    kbd,
    pre,
    samp {
      font-family: var(--font-monospace);
    }

    h1 {
      font-stretch: 125%;
      font-weight: 900;
    }

    h2 {
      color: oklch(from var(--discord-white) l c h / 55%);
      font-weight: 400;
    }
  }

  /* biome-ignore lint/correctness/noUnknownFunction: https://developer.mozilla.org/en-US/docs/Web/CSS/@supports#font-tech */
  @supports (font-tech(variations)) {
    :root {
      --text-slnt: 0;
      font-variation-settings: "slnt" var(--text-slnt);
    }

    em,
    i,
    var {
      font-style: normal;
      --text-slnt: -12;
    }
  }
}
