@import url("normalize.css") layer(normalize);

@layer fonts {
  @font-face {
    font-family: "Mona Sans";
    src:
      url("../fonts/mona-sans.woff2") format("woff2 supports variations"),
      url("../fonts/mona-sans.woff2") format("woff2-variations");
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }
}

@layer core {
  :root {
    --discord-blurple-oklch: 57.74% 0.209 273.85;
    --discord-green-oklch: 85.48% 0.197 150.16;
    --discord-yellow-oklch: 92.18% 0.157 99.87;
    --discord-fuchsia-oklch: 65.34% 0.217 351.92;
    --discord-red-oklch: 63.18% 0.207 24.57;
    --discord-white-oklch: 100% 0 0;
    --discord-black-oklch: 0% 0 0;
    --discord-legacy-blurple-oklch: 64.74% 0.124 270.62;
    --discord-legacy-full-white-oklch: 100% 0 0;
    --discord-legacy-greyple-oklch: 72.83% 0.025 236.13;
    --discord-legacy-dark-but-not-black-oklch: 30.38% 0.008 255.56;
    --discord-legacy-not-quite-black-oklch: 26.99% 0.008 240.16;
    --discord-legacy-actually-black-oklch: 0% 0 0;

    --discord-blurple: oklch(var(--discord-blurple-oklch));
    --discord-green: oklch(var(--discord-green-oklch));
    --discord-yellow: oklch(var(--discord-yellow-oklch));
    --discord-fuchsia: oklch(var(--discord-fuchsia-oklch));
    --discord-red: oklch(var(--discord-red-oklch));
    --discord-white: oklch(var(--discord-white-oklch));
    --discord-black: oklch(var(--discord-black-oklch));
    --discord-legacy-blurple: oklch(var(--discord-legacy-blurple-oklch));
    --discord-legacy-full-white: oklch(var(--discord-legacy-full-white-oklch));
    --discord-legacy-greyple: oklch(var(--discord-legacy-greyple-oklch));
    --discord-legacy-dark-but-not-black: oklch(
      var(--discord-legacy-dark-but-not-black-oklch)
    );
    --discord-legacy-not-quite-black: oklch(
      var(--discord-legacy-not-quite-black-oklch)
    );
    --discord-legacy-actually-black: oklch(
      var(--discord-legacy-actually-black-oklch)
    );

    --font-body: "Mona Sans", system-ui, -apple-system, BlinkMacSystemFont,
      "Inter", "Segoe UI", Roboto, Ubuntu, sans-serif;
    --border-color: oklch(var(--discord-white-oklch) / 15%);
    --card-border: var(--border-color) solid 2px;
    --card-border-radius: 0.1875rem;
    --focus-outline: var(--discord-blurple) solid 2px;
    --transition-duration-fast: 150ms;
    --transition-duration-medium: 200ms;
    --transition-duration-slow: 250ms;
    --text-glow: 0 0 1rem var(--discord-blurple);

    background-color: var(--discord-legacy-dark-but-not-black);
    color: var(--discord-white);
    color-scheme: only dark;
    font-family: var(--font-body);
  }

  @supports (font-tech(variations)) {
    :root {
      --text-slnt: 0;
      font-variation-settings: "slnt" var(--text-slnt);
    }

    em,
    i,
    var {
      font-style: normal;
      --text-slnt: -12;
    }
  }

  @keyframes breathe {
    0% {
      font-variation-settings:
        "wght" 100,
        "wdth" 85;
    }
    60% {
      font-variation-settings:
        "wght" 700,
        "wdth" 100;
    }

    100% {
      font-variation-settings:
        "wght" 100,
        "wdth" 85;
    }
  }
}
