* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration-thickness: from-font;
}

html {
  color-scheme: light dark;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Inter, sans-serif;
  font-kerning: normal;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  hanging-punctuation: first allow-end last;
  hyphenate-character: "â€"; /* Unambiguous hyphen U+2010 */
  letter-spacing: 0;
  margin: 0;
  orphans: 2;
  overflow-wrap: break-word;
  padding: 0;
  print-color-adjust: exact;
  tab-size: 2;
  text-rendering: geometricPrecision;
  text-underline-position: from-font;
  text-wrap: pretty;
}

[hidden] {
  display: none;
}

body {
  min-height: 100vh;
}

p {
  margin-block: 0 1em;
  margin-inline: 0;
}

b,
strong {
  font-weight: bolder;
}

em,
i,
var {
  font-style: italic;
}

em > em,
em > i,
i > em,
i > i {
  font-style: normal;
}

code,
kbd,
pre,
samp {
  font-family: monospace;
}

abbr {
  text-decoration: none;
}

hr {
  box-sizing: content-box;
  height: 0;
}

audio,
canvas,
figure,
embed,
iframe,
img,
object,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

picture,
img,
svg,
video,
canvas {
  border-style: none;
  height: auto;
}

audio {
  width: 100%;
}

fieldset {
  border: 0;
  min-width: 0;
}
