* {
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
  outline-offset: max(0.0625rem, 1px);
  overflow: auto;
  padding: 0;
  text-decoration-thickness: from-font;
}

html {
  font-kerning: normal;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  hanging-punctuation: first allow-end last;
  hyphenate-character: "‐"; /* Unambiguous hyphen U+2010 */
  letter-spacing: 0;
  margin: 0;
  orphans: 2;
  overflow-wrap: break-word;
  padding: 0;
  tab-size: 2;
  text-rendering: geometricPrecision;
  text-underline-position: from-font;
  text-wrap: pretty;
}

[hidden] {
  display: none;
}

body {
  min-height: 100svh;
}

p {
  line-height: 1.55;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.35;
}

b,
strong {
  font-weight: bolder;
}

em,
i,
var {
  font-style: italic;
}

em > em,
em > i,
i > em,
i > i {
  font-style: normal;
}

code,
kbd,
pre,
samp {
  font-family: monospace;
}

abbr {
  text-decoration: none;
}

hr {
  box-sizing: content-box;
  height: 0;
}

audio,
canvas,
figure,
embed,
iframe,
img,
object,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

picture,
img,
svg,
video,
canvas {
  border-style: none;
  height: auto;
}

audio {
  width: 100%;
}

fieldset {
  border: 0;
  min-width: 0;
}

button {
  touch-action: manipulation;
}
